.app {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    resize: none;
    font-family: inherit;
}

input, select, button {
    font-family: inherit;
    font-size: inherit;
}